.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

node_modules/
frontend/dist/
/package-lock.json

database/*.db
database/*.db-journal
dist/
build/*
!build/
!build/SystemMonitor.spec
!build/build_exe.ps1

.env
.DS_Store
